@{
    ViewData["Title"] = "List of Weapon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ListWeaponVM

@section Styles {
    <link rel="stylesheet" href="~/sass/WeaponAdd.css" />
    <link rel="stylesheet" href="~/sass/WeaponList.css" />
}

<div class="row">
    @Html.Hidden("SelectedWeaponType", Model.WeaponFilter)
    <div class="col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <h2 class="mb-4">Weapon</h2>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-1"></div>

    <div class="col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <button id="button-add" class="mb-2" onclick="callAdd()">Add <i class="fa fa-plus"></i></button>
        <div id="weapon-add" class="hidden mb-3"></div>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-1"></div>

    <div class="col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <div id="weapon-selector" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.ALL)
                {
                    <button id="selector-ALL" class="selector-ALL-choose">All</button>
                }
                else
                {
                    <button id="selector-ALL" class="selector-ALL">All</button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.SWORD)
                {
                    <button id="selector-SWORD" class="selector-SWORD-choose">
                        <span class="icon icon-sword"></span>
                        Sword
                    </button>
                }
                else
                {
                    <button id="selector-SWORD" class="selector-SWORD">
                        <span class="icon icon-sword"></span>
                        Sword
                    </button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.SPEAR)
                {
                    <button id="selector-SPEAR" class="selector-SPEAR-choose">
                        <span class="icon icon-spear"></span>
                        Spear
                    </button>
                }
                else
                {
                    <button id="selector-SPEAR" class="selector-SPEAR">
                        <span class="icon icon-spear"></span>
                        Spear
                    </button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.AXE)
                {
                    <button id="selector-AXE" class="selector-AXE-choose">
                        <span class="icon icon-AXE"></span>
                        Axe
                    </button>
                }
                else
                {
                    <button id="selector-AXE" class="selector-AXE">
                        <span class="icon icon-axe"></span>
                        Axe
                    </button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.FIST)
                {
                    <button id="selector-FIST" class="selector-FIST-choose">
                        <span class="icon icon-fist"></span>
                        Fist
                    </button>
                }
                else
                {
                    <button id="selector-FIST" class="selector-FIST">
                        <span class="icon icon-fist"></span>
                        Fist
                    </button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.DAGGER)
                {
                    <button id="selector-DAGGER" class="selector-DAGGER-choose">
                        <span class="icon icon-dagger"></span>
                        Dagger
                    </button>
                }
                else
                {
                    <button id="selector-DAGGER" class="selector-DAGGER">
                        <span class="icon icon-dagger"></span>
                        Dagger
                    </button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.STAFF)
                {
                    <button id="selector-STAFF" class="selector-STAFF-choose">
                        <span class="icon icon-staff"></span>
                        Staff
                    </button>
                }
                else
                {
                    <button id="selector-STAFF" class="selector-STAFF">
                        <span class="icon icon-staff"></span>
                        Staff
                    </button>
                }
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                @if (Model.WeaponFilter == WeaponType.BOW)
                {
                    <button id="selector-BOW" class="selector-BOW-choose">
                        <span class="icon icon-bow"></span>
                        Bow
                    </button>
                }
                else
                {
                    <button id="selector-BOW" class="selector-BOW">
                        <span class="icon icon-bow"></span>
                        Bow
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-1"></div>
    <hr class="mb-4" />
</div>

<div class="row">
    <div class="col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-12 col-xl-12 col-md-10 col-lg-10 col-xl-10">
        <div id="weapon-list"></div>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-1"></div>
</div>

@section Scripts {
    <script src="~/js/Reload.js"></script>
    <script src="~/js/DropDownList.js"></script>
}

<script type="text/javascript">
    function callAdd() {
        document.getElementById('button-add').classList.add('hidden');
        document.getElementById('weapon-add').classList.remove('hidden');

        refreshWeaponAdd();
    }
</script>