.col-armor-single{
    margin-bottom:1%;
}

.armor-single{
    width: 90%;
    height:95%;
    padding: 2%;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    transition: all ease-in-out .25s;
}
.armor-single:hover{
    width: 95%;
    height:100%;
    border: 1px solid lightgray;

}

.armor-single > h4{
    text-align: center;
}

.armor-single > div{
    padding-left: 10%;
}

.title{
    text-transform:uppercase;
}

.passive {
    width: 80%;
    text-transform:uppercase;
    color: white;
    background-color: #e89025;
    border: 1px solid #bf7419;
    border-radius: 25px;
    margin-bottom:2%;
    margin-left: auto;
    margin-right: auto;
}