/*
    General
*/

.icon {
    display: inline-block;
    width: 16px;
    height: 18px;
    background-size: cover;
}

$white-filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
$site-color-filter: invert(55%) sepia(100%) saturate(376%) hue-rotate(352deg) brightness(94%) contrast(94%);
$cancel-color-filter: invert(14%) sepia(86%) saturate(3645%) hue-rotate(356deg) brightness(96%) contrast(110%);
$update-color-filter: invert(91%) sepia(59%) saturate(1726%) hue-rotate(357deg) brightness(85%) contrast(108%);

$site-color: rgb(232, 144, 37);
$site-border-color: rgb(191, 116, 25);
$site-background-color: rgba(232, 144, 37, .1);
$site-border: 1px solid $site-border-color;

$cancel-color: rgb(194, 15, 2);
$cancel-border-color: rgb(145, 11, 1);
$cancel-background-color: rgba(194, 15, 2, .09);
$cancel-border: 1px solid $cancel-border-color;

$update-color: rgb(224, 221, 2);
$update-border-color: rgb(199, 196, 2);
$update-background-color: rgba(224, 221, 2, .1);
$update-border: 1px solid $update-border-color;

/*
    Weapon
*/

$all-weapon-color: #e6cf07;

$sword-color: #1658db;
$sword-filter: invert(21%) sepia(100%) saturate(5130%) hue-rotate(221deg) brightness(95%) contrast(83%);
$sword-link: url(../svg/sword.svg);

$spear-color: #db7500;
$spear-filter: invert(44%) sepia(90%) saturate(1511%) hue-rotate(10deg) brightness(94%) contrast(104%);
$spear-link: url(../svg/spear.svg);

$axe-color: #bf0a0a;
$axe-filter: invert(20%) sepia(77%) saturate(3209%) hue-rotate(348deg) brightness(78%) contrast(118%);
$axe-link: url(../svg/axe.svg);

$fist-color: #02bf80;
$fist-filter: invert(45%) sepia(100%) saturate(692%) hue-rotate(121deg) brightness(97%) contrast(98%);
$fist-link: url(../svg/fist.svg);

$dagger-color: #a602b5;
$dagger-filter: invert(19%) sepia(90%) saturate(7108%) hue-rotate(291deg) brightness(80%) contrast(111%);
$dagger-link: url(../svg/dagger.svg);

$staff-color: #54bf02;
$staff-filter: invert(66%) sepia(52%) saturate(818%) hue-rotate(45deg) brightness(84%) contrast(106%);
$staff-link: url(../svg/staff.svg);

$bow-color: #b50045;
$bow-filter: invert(9%) sepia(72%) saturate(7476%) hue-rotate(330deg) brightness(88%) contrast(102%);
$bow-link: url(../svg/bow.svg);

$other-color: #844af0;
$other-filter: invert(28%) sepia(39%) saturate(4938%) hue-rotate(250deg) brightness(100%) contrast(89%);
$other-link: url(../svg/claw.svg);

@mixin weaponTypeIconImage($type) {
    @if $type == "SWORD" {
        background-image: $sword-link;
    } @else if $type == "AXE" {
        background-image: $axe-link;
    } @else if $type == "SPEAR" {
        background-image: $spear-link;
    } @else if $type == "FIST" {
        background-image: $fist-link;
    } @else if $type == "DAGGER" {
        background-image: $dagger-link;
    } @else if $type == "STAFF" {
        background-image: $staff-link;
    } @else if $type == "BOW" {
        background-image: $bow-link;
    } @else if $type == "OTHER" {
        background-image: $other-link;
    }
}
@mixin weaponTypeIconColor($type) {
    @if $type == "SWORD" {
        filter: $sword-filter;
    }
    @else if $type == "AXE" {
        filter: $axe-filter;
    }
    @else if $type == "SPEAR" {
        filter: $spear-filter;
    }
    @else if $type == "FIST" {
        filter: $fist-filter;
    }
    @else if $type == "DAGGER" {
        filter: $dagger-filter;
    }
    @else if $type == "STAFF" {
        filter: $staff-filter;
    }
    @else if $type == "BOW" {
        filter: $bow-filter;
    }
    @else if $type == "OTHER" {
        filter: $other-filter;
    }
}

$weaponColors: ( 
    "ALL": $all-weapon-color, 
    "SWORD":$sword-color, 
    "SPEAR":$spear-color, 
    "AXE":$axe-color, 
    "FIST":$fist-color, 
    "DAGGER":$dagger-color, 
    "STAFF":$staff-color, 
    "BOW":$bow-color,
    "OTHER":$other-color
);
