@import 'constant.scss';

/* Weapon Type */
@each $weaponColor, $i in $weaponColors {
    .item-#{$weaponColor} {
        color: $i;
        background-color: white;

        a {
            color: $i;
            background-color: white;
        }

        span {
            @include weaponTypeIconColor($weaponColor);
            @include weaponTypeIconImage($weaponColor);
        }

        &:hover {
            color: white;
            background-color: $i;

            a {
                color: white;
                background-color: $i;
            }

            span {
                filter: $white-filter;
            }
        }
    }

    .sitem-#{$weaponColor} {
        color: white;
        background-color: $i;

        a {
            color: white;
            background-color: $i;
        }

        span {
            filter: $white-filter;
            @include weaponTypeIconImage($weaponColor);
        }

        &:hover {
            color: $i;
            background-color: white;

            a {
                color: $i;
                background-color: white;
            }

            span {
                @include weaponTypeIconColor($weaponColor);
            }
        }
    }

    .selected-#{$weaponColor}{
        border-color: $i;
        color: $i;

        p span {
            @include weaponTypeIconColor($weaponColor);
            @include weaponTypeIconImage($weaponColor);
        }
    }

    .selector-#{$weaponColor},
    .selector-#{$weaponColor}:focus {
        outline: none;
        background-color: white;
        color: $i;
        border: 1px solid $i;

        span{
            @include weaponTypeIconColor($weaponColor);
            @include weaponTypeIconImage($weaponColor);
        }

        &:hover {
            background-color: $i;
            color: white;

            span{
                filter: $white-filter;
            }
        }
    }
    .selector-#{$weaponColor}-choose,
    .selector-#{$weaponColor}-choose:focus {
        outline: none;
        background-color: $i;
        color: white;

        span{
            @include weaponTypeIconImage($weaponColor);
            filter: $white-filter;
        }

        &:hover {
            background-color: white;
            color: $i;
            border: 1px solid $i;

            span{
                @include weaponTypeIconColor($weaponColor);
            }
        }
    }
}

/* Damage Type */
@each $damageColor, $i in $damageTypes {
    .item-#{$damageColor}{
        color: $i;
        background-color: white;

        a{
            color: $i;
            background-color: white;
        }

        span{
            @include damageTypeIconColor($damageColor);
            @include damageTypeIconImage($damageColor);
        }

        &:hover{
            color: white;
            background-color: $i;

            a{
                color: white;
                background-color: $i;
            }

            span {
                filter: $white-filter;
            }
        }
    }

    .sitem-#{$damageColor}{
        color: white;
        background-color: $i;

        a{
            color: white;
            background-color: $i;
        }

        span{
            filter: $white-filter;
            @include damageTypeIconImage($damageColor);
        }

        &:hover{
            color: $i;
            background-color: white;

            a{
                color: $i;
                background-color: white;
            }

            span{
                @include damageTypeIconColor($damageColor);
            }
        }
    }

    .selected-#{$damageColor}{
        border-color: $i;
        color: $i;

        p span {
            @include damageTypeIconColor($damageColor);
            @include damageTypeIconImage($damageColor);
        }
    }
}