/* General */
.hidden {
  display: none;
  visibility: hidden;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 18px;
  background-size: cover;
}

.cbtn {
  transition: all 0.5s ease-in-out;
}

.form-group-werror {
  margin-bottom: 0;
  display: flex;
  width: 100%;
}

.form-error {
  margin-bottom: 1rem;
  margin-left: 13%;
  width: 100%;
  display: flex;
}
.form-error span {
  color: red;
  margin-top: 0.5%;
}

/* Weapon Type */
/* Rank */
/* Damage Type */
/* Weapon Type */
.item-ALL,
.item-ALL a {
  color: #e6cf07;
  background-color: white;
}
.item-ALL:hover, .item-ALL:hover a,
.item-ALL a:hover,
.item-ALL a:hover a {
  color: white;
  background-color: #e6cf07;
}
.item-ALL:hover span, .item-ALL:hover a span,
.item-ALL a:hover span,
.item-ALL a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-ALL,
.sitem-ALL a {
  color: white;
  background-color: #e6cf07;
}
.sitem-ALL span,
.sitem-ALL a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.sitem-ALL:hover, .sitem-ALL:hover a,
.sitem-ALL a:hover,
.sitem-ALL a:hover a {
  color: #e6cf07;
  background-color: white;
}
.selected-ALL {
  border-color: #e6cf07;
  color: #e6cf07;
}
.selector-ALL,
.selector-ALL:focus {
  outline: none;
  background-color: white;
  color: #e6cf07;
  border: 1px solid #e6cf07;
}
.selector-ALL:hover,
.selector-ALL:focus:hover {
  background-color: #e6cf07;
  color: white;
}
.selector-ALL:hover span,
.selector-ALL:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-ALL-choose,
.selector-ALL-choose:focus {
  outline: none;
  background-color: #e6cf07;
  color: white;
}
.selector-ALL-choose span,
.selector-ALL-choose:focus span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-ALL-choose:hover,
.selector-ALL-choose:focus:hover {
  background-color: white;
  color: #e6cf07;
  border: 1px solid #e6cf07;
}
.item-SWORD,
.item-SWORD a {
  color: #1658db;
  background-color: white;
}
.item-SWORD span,
.item-SWORD a span {
  filter: invert(21%) sepia(100%) saturate(5130%) hue-rotate(221deg) brightness(95%) contrast(83%);
  background-image: url(../svg/sword.svg);
}
.item-SWORD:hover, .item-SWORD:hover a,
.item-SWORD a:hover,
.item-SWORD a:hover a {
  color: white;
  background-color: #1658db;
}
.item-SWORD:hover span, .item-SWORD:hover a span,
.item-SWORD a:hover span,
.item-SWORD a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-SWORD,
.sitem-SWORD a {
  color: white;
  background-color: #1658db;
}
.sitem-SWORD span,
.sitem-SWORD a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/sword.svg);
}
.sitem-SWORD:hover, .sitem-SWORD:hover a,
.sitem-SWORD a:hover,
.sitem-SWORD a:hover a {
  color: #1658db;
  background-color: white;
}
.sitem-SWORD:hover span, .sitem-SWORD:hover a span,
.sitem-SWORD a:hover span,
.sitem-SWORD a:hover a span {
  filter: invert(21%) sepia(100%) saturate(5130%) hue-rotate(221deg) brightness(95%) contrast(83%);
}

.selected-SWORD {
  border-color: #1658db;
  color: #1658db;
}
.selected-SWORD p span {
  filter: invert(21%) sepia(100%) saturate(5130%) hue-rotate(221deg) brightness(95%) contrast(83%);
  background-image: url(../svg/sword.svg);
}

.selector-SWORD,
.selector-SWORD:focus {
  outline: none;
  background-color: white;
  color: #1658db;
  border: 1px solid #1658db;
}
.selector-SWORD span,
.selector-SWORD:focus span {
  filter: invert(21%) sepia(100%) saturate(5130%) hue-rotate(221deg) brightness(95%) contrast(83%);
  background-image: url(../svg/sword.svg);
}
.selector-SWORD:hover,
.selector-SWORD:focus:hover {
  background-color: #1658db;
  color: white;
}
.selector-SWORD:hover span,
.selector-SWORD:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-SWORD-choose,
.selector-SWORD-choose:focus {
  outline: none;
  background-color: #1658db;
  color: white;
}
.selector-SWORD-choose span,
.selector-SWORD-choose:focus span {
  background-image: url(../svg/sword.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-SWORD-choose:hover,
.selector-SWORD-choose:focus:hover {
  background-color: white;
  color: #1658db;
  border: 1px solid #1658db;
}
.selector-SWORD-choose:hover span,
.selector-SWORD-choose:focus:hover span {
  filter: invert(21%) sepia(100%) saturate(5130%) hue-rotate(221deg) brightness(95%) contrast(83%);
}

.item-SPEAR,
.item-SPEAR a {
  color: #db7500;
  background-color: white;
}
.item-SPEAR span,
.item-SPEAR a span {
  filter: invert(44%) sepia(90%) saturate(1511%) hue-rotate(10deg) brightness(94%) contrast(104%);
  background-image: url(../svg/spear.svg);
}
.item-SPEAR:hover, .item-SPEAR:hover a,
.item-SPEAR a:hover,
.item-SPEAR a:hover a {
  color: white;
  background-color: #db7500;
}
.item-SPEAR:hover span, .item-SPEAR:hover a span,
.item-SPEAR a:hover span,
.item-SPEAR a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-SPEAR,
.sitem-SPEAR a {
  color: white;
  background-color: #db7500;
}
.sitem-SPEAR span,
.sitem-SPEAR a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/spear.svg);
}
.sitem-SPEAR:hover, .sitem-SPEAR:hover a,
.sitem-SPEAR a:hover,
.sitem-SPEAR a:hover a {
  color: #db7500;
  background-color: white;
}
.sitem-SPEAR:hover span, .sitem-SPEAR:hover a span,
.sitem-SPEAR a:hover span,
.sitem-SPEAR a:hover a span {
  filter: invert(44%) sepia(90%) saturate(1511%) hue-rotate(10deg) brightness(94%) contrast(104%);
}

.selected-SPEAR {
  border-color: #db7500;
  color: #db7500;
}
.selected-SPEAR p span {
  filter: invert(44%) sepia(90%) saturate(1511%) hue-rotate(10deg) brightness(94%) contrast(104%);
  background-image: url(../svg/spear.svg);
}

.selector-SPEAR,
.selector-SPEAR:focus {
  outline: none;
  background-color: white;
  color: #db7500;
  border: 1px solid #db7500;
}
.selector-SPEAR span,
.selector-SPEAR:focus span {
  filter: invert(44%) sepia(90%) saturate(1511%) hue-rotate(10deg) brightness(94%) contrast(104%);
  background-image: url(../svg/spear.svg);
}
.selector-SPEAR:hover,
.selector-SPEAR:focus:hover {
  background-color: #db7500;
  color: white;
}
.selector-SPEAR:hover span,
.selector-SPEAR:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-SPEAR-choose,
.selector-SPEAR-choose:focus {
  outline: none;
  background-color: #db7500;
  color: white;
}
.selector-SPEAR-choose span,
.selector-SPEAR-choose:focus span {
  background-image: url(../svg/spear.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-SPEAR-choose:hover,
.selector-SPEAR-choose:focus:hover {
  background-color: white;
  color: #db7500;
  border: 1px solid #db7500;
}
.selector-SPEAR-choose:hover span,
.selector-SPEAR-choose:focus:hover span {
  filter: invert(44%) sepia(90%) saturate(1511%) hue-rotate(10deg) brightness(94%) contrast(104%);
}

.item-AXE,
.item-AXE a {
  color: #bf0a0a;
  background-color: white;
}
.item-AXE span,
.item-AXE a span {
  filter: invert(20%) sepia(77%) saturate(3209%) hue-rotate(348deg) brightness(78%) contrast(118%);
  background-image: url(../svg/axe.svg);
}
.item-AXE:hover, .item-AXE:hover a,
.item-AXE a:hover,
.item-AXE a:hover a {
  color: white;
  background-color: #bf0a0a;
}
.item-AXE:hover span, .item-AXE:hover a span,
.item-AXE a:hover span,
.item-AXE a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-AXE,
.sitem-AXE a {
  color: white;
  background-color: #bf0a0a;
}
.sitem-AXE span,
.sitem-AXE a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/axe.svg);
}
.sitem-AXE:hover, .sitem-AXE:hover a,
.sitem-AXE a:hover,
.sitem-AXE a:hover a {
  color: #bf0a0a;
  background-color: white;
}
.sitem-AXE:hover span, .sitem-AXE:hover a span,
.sitem-AXE a:hover span,
.sitem-AXE a:hover a span {
  filter: invert(20%) sepia(77%) saturate(3209%) hue-rotate(348deg) brightness(78%) contrast(118%);
}

.selected-AXE {
  border-color: #bf0a0a;
  color: #bf0a0a;
}
.selected-AXE p span {
  filter: invert(20%) sepia(77%) saturate(3209%) hue-rotate(348deg) brightness(78%) contrast(118%);
  background-image: url(../svg/axe.svg);
}

.selector-AXE,
.selector-AXE:focus {
  outline: none;
  background-color: white;
  color: #bf0a0a;
  border: 1px solid #bf0a0a;
}
.selector-AXE span,
.selector-AXE:focus span {
  filter: invert(20%) sepia(77%) saturate(3209%) hue-rotate(348deg) brightness(78%) contrast(118%);
  background-image: url(../svg/axe.svg);
}
.selector-AXE:hover,
.selector-AXE:focus:hover {
  background-color: #bf0a0a;
  color: white;
}
.selector-AXE:hover span,
.selector-AXE:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-AXE-choose,
.selector-AXE-choose:focus {
  outline: none;
  background-color: #bf0a0a;
  color: white;
}
.selector-AXE-choose span,
.selector-AXE-choose:focus span {
  background-image: url(../svg/axe.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-AXE-choose:hover,
.selector-AXE-choose:focus:hover {
  background-color: white;
  color: #bf0a0a;
  border: 1px solid #bf0a0a;
}
.selector-AXE-choose:hover span,
.selector-AXE-choose:focus:hover span {
  filter: invert(20%) sepia(77%) saturate(3209%) hue-rotate(348deg) brightness(78%) contrast(118%);
}

.item-FIST,
.item-FIST a {
  color: #02bf80;
  background-color: white;
}
.item-FIST span,
.item-FIST a span {
  filter: invert(45%) sepia(100%) saturate(692%) hue-rotate(121deg) brightness(97%) contrast(98%);
  background-image: url(../svg/fist.svg);
}
.item-FIST:hover, .item-FIST:hover a,
.item-FIST a:hover,
.item-FIST a:hover a {
  color: white;
  background-color: #02bf80;
}
.item-FIST:hover span, .item-FIST:hover a span,
.item-FIST a:hover span,
.item-FIST a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-FIST,
.sitem-FIST a {
  color: white;
  background-color: #02bf80;
}
.sitem-FIST span,
.sitem-FIST a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/fist.svg);
}
.sitem-FIST:hover, .sitem-FIST:hover a,
.sitem-FIST a:hover,
.sitem-FIST a:hover a {
  color: #02bf80;
  background-color: white;
}
.sitem-FIST:hover span, .sitem-FIST:hover a span,
.sitem-FIST a:hover span,
.sitem-FIST a:hover a span {
  filter: invert(45%) sepia(100%) saturate(692%) hue-rotate(121deg) brightness(97%) contrast(98%);
}

.selected-FIST {
  border-color: #02bf80;
  color: #02bf80;
}
.selected-FIST p span {
  filter: invert(45%) sepia(100%) saturate(692%) hue-rotate(121deg) brightness(97%) contrast(98%);
  background-image: url(../svg/fist.svg);
}

.selector-FIST,
.selector-FIST:focus {
  outline: none;
  background-color: white;
  color: #02bf80;
  border: 1px solid #02bf80;
}
.selector-FIST span,
.selector-FIST:focus span {
  filter: invert(45%) sepia(100%) saturate(692%) hue-rotate(121deg) brightness(97%) contrast(98%);
  background-image: url(../svg/fist.svg);
}
.selector-FIST:hover,
.selector-FIST:focus:hover {
  background-color: #02bf80;
  color: white;
}
.selector-FIST:hover span,
.selector-FIST:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-FIST-choose,
.selector-FIST-choose:focus {
  outline: none;
  background-color: #02bf80;
  color: white;
}
.selector-FIST-choose span,
.selector-FIST-choose:focus span {
  background-image: url(../svg/fist.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-FIST-choose:hover,
.selector-FIST-choose:focus:hover {
  background-color: white;
  color: #02bf80;
  border: 1px solid #02bf80;
}
.selector-FIST-choose:hover span,
.selector-FIST-choose:focus:hover span {
  filter: invert(45%) sepia(100%) saturate(692%) hue-rotate(121deg) brightness(97%) contrast(98%);
}

.item-DAGGER,
.item-DAGGER a {
  color: #a602b5;
  background-color: white;
}
.item-DAGGER span,
.item-DAGGER a span {
  filter: invert(19%) sepia(90%) saturate(7108%) hue-rotate(291deg) brightness(80%) contrast(111%);
  background-image: url(../svg/dagger.svg);
}
.item-DAGGER:hover, .item-DAGGER:hover a,
.item-DAGGER a:hover,
.item-DAGGER a:hover a {
  color: white;
  background-color: #a602b5;
}
.item-DAGGER:hover span, .item-DAGGER:hover a span,
.item-DAGGER a:hover span,
.item-DAGGER a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-DAGGER,
.sitem-DAGGER a {
  color: white;
  background-color: #a602b5;
}
.sitem-DAGGER span,
.sitem-DAGGER a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/dagger.svg);
}
.sitem-DAGGER:hover, .sitem-DAGGER:hover a,
.sitem-DAGGER a:hover,
.sitem-DAGGER a:hover a {
  color: #a602b5;
  background-color: white;
}
.sitem-DAGGER:hover span, .sitem-DAGGER:hover a span,
.sitem-DAGGER a:hover span,
.sitem-DAGGER a:hover a span {
  filter: invert(19%) sepia(90%) saturate(7108%) hue-rotate(291deg) brightness(80%) contrast(111%);
}

.selected-DAGGER {
  border-color: #a602b5;
  color: #a602b5;
}
.selected-DAGGER p span {
  filter: invert(19%) sepia(90%) saturate(7108%) hue-rotate(291deg) brightness(80%) contrast(111%);
  background-image: url(../svg/dagger.svg);
}

.selector-DAGGER,
.selector-DAGGER:focus {
  outline: none;
  background-color: white;
  color: #a602b5;
  border: 1px solid #a602b5;
}
.selector-DAGGER span,
.selector-DAGGER:focus span {
  filter: invert(19%) sepia(90%) saturate(7108%) hue-rotate(291deg) brightness(80%) contrast(111%);
  background-image: url(../svg/dagger.svg);
}
.selector-DAGGER:hover,
.selector-DAGGER:focus:hover {
  background-color: #a602b5;
  color: white;
}
.selector-DAGGER:hover span,
.selector-DAGGER:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-DAGGER-choose,
.selector-DAGGER-choose:focus {
  outline: none;
  background-color: #a602b5;
  color: white;
}
.selector-DAGGER-choose span,
.selector-DAGGER-choose:focus span {
  background-image: url(../svg/dagger.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-DAGGER-choose:hover,
.selector-DAGGER-choose:focus:hover {
  background-color: white;
  color: #a602b5;
  border: 1px solid #a602b5;
}
.selector-DAGGER-choose:hover span,
.selector-DAGGER-choose:focus:hover span {
  filter: invert(19%) sepia(90%) saturate(7108%) hue-rotate(291deg) brightness(80%) contrast(111%);
}

.item-STAFF,
.item-STAFF a {
  color: #54bf02;
  background-color: white;
}
.item-STAFF span,
.item-STAFF a span {
  filter: invert(66%) sepia(52%) saturate(818%) hue-rotate(45deg) brightness(84%) contrast(106%);
  background-image: url(../svg/staff.svg);
}
.item-STAFF:hover, .item-STAFF:hover a,
.item-STAFF a:hover,
.item-STAFF a:hover a {
  color: white;
  background-color: #54bf02;
}
.item-STAFF:hover span, .item-STAFF:hover a span,
.item-STAFF a:hover span,
.item-STAFF a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-STAFF,
.sitem-STAFF a {
  color: white;
  background-color: #54bf02;
}
.sitem-STAFF span,
.sitem-STAFF a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/staff.svg);
}
.sitem-STAFF:hover, .sitem-STAFF:hover a,
.sitem-STAFF a:hover,
.sitem-STAFF a:hover a {
  color: #54bf02;
  background-color: white;
}
.sitem-STAFF:hover span, .sitem-STAFF:hover a span,
.sitem-STAFF a:hover span,
.sitem-STAFF a:hover a span {
  filter: invert(66%) sepia(52%) saturate(818%) hue-rotate(45deg) brightness(84%) contrast(106%);
}

.selected-STAFF {
  border-color: #54bf02;
  color: #54bf02;
}
.selected-STAFF p span {
  filter: invert(66%) sepia(52%) saturate(818%) hue-rotate(45deg) brightness(84%) contrast(106%);
  background-image: url(../svg/staff.svg);
}

.selector-STAFF,
.selector-STAFF:focus {
  outline: none;
  background-color: white;
  color: #54bf02;
  border: 1px solid #54bf02;
}
.selector-STAFF span,
.selector-STAFF:focus span {
  filter: invert(66%) sepia(52%) saturate(818%) hue-rotate(45deg) brightness(84%) contrast(106%);
  background-image: url(../svg/staff.svg);
}
.selector-STAFF:hover,
.selector-STAFF:focus:hover {
  background-color: #54bf02;
  color: white;
}
.selector-STAFF:hover span,
.selector-STAFF:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-STAFF-choose,
.selector-STAFF-choose:focus {
  outline: none;
  background-color: #54bf02;
  color: white;
}
.selector-STAFF-choose span,
.selector-STAFF-choose:focus span {
  background-image: url(../svg/staff.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-STAFF-choose:hover,
.selector-STAFF-choose:focus:hover {
  background-color: white;
  color: #54bf02;
  border: 1px solid #54bf02;
}
.selector-STAFF-choose:hover span,
.selector-STAFF-choose:focus:hover span {
  filter: invert(66%) sepia(52%) saturate(818%) hue-rotate(45deg) brightness(84%) contrast(106%);
}

.item-BOW,
.item-BOW a {
  color: #b50045;
  background-color: white;
}
.item-BOW span,
.item-BOW a span {
  filter: invert(9%) sepia(72%) saturate(7476%) hue-rotate(330deg) brightness(88%) contrast(102%);
  background-image: url(../svg/bow.svg);
}
.item-BOW:hover, .item-BOW:hover a,
.item-BOW a:hover,
.item-BOW a:hover a {
  color: white;
  background-color: #b50045;
}
.item-BOW:hover span, .item-BOW:hover a span,
.item-BOW a:hover span,
.item-BOW a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-BOW,
.sitem-BOW a {
  color: white;
  background-color: #b50045;
}
.sitem-BOW span,
.sitem-BOW a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/bow.svg);
}
.sitem-BOW:hover, .sitem-BOW:hover a,
.sitem-BOW a:hover,
.sitem-BOW a:hover a {
  color: #b50045;
  background-color: white;
}
.sitem-BOW:hover span, .sitem-BOW:hover a span,
.sitem-BOW a:hover span,
.sitem-BOW a:hover a span {
  filter: invert(9%) sepia(72%) saturate(7476%) hue-rotate(330deg) brightness(88%) contrast(102%);
}

.selected-BOW {
  border-color: #b50045;
  color: #b50045;
}
.selected-BOW p span {
  filter: invert(9%) sepia(72%) saturate(7476%) hue-rotate(330deg) brightness(88%) contrast(102%);
  background-image: url(../svg/bow.svg);
}

.selector-BOW,
.selector-BOW:focus {
  outline: none;
  background-color: white;
  color: #b50045;
  border: 1px solid #b50045;
}
.selector-BOW span,
.selector-BOW:focus span {
  filter: invert(9%) sepia(72%) saturate(7476%) hue-rotate(330deg) brightness(88%) contrast(102%);
  background-image: url(../svg/bow.svg);
}
.selector-BOW:hover,
.selector-BOW:focus:hover {
  background-color: #b50045;
  color: white;
}
.selector-BOW:hover span,
.selector-BOW:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-BOW-choose,
.selector-BOW-choose:focus {
  outline: none;
  background-color: #b50045;
  color: white;
}
.selector-BOW-choose span,
.selector-BOW-choose:focus span {
  background-image: url(../svg/bow.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-BOW-choose:hover,
.selector-BOW-choose:focus:hover {
  background-color: white;
  color: #b50045;
  border: 1px solid #b50045;
}
.selector-BOW-choose:hover span,
.selector-BOW-choose:focus:hover span {
  filter: invert(9%) sepia(72%) saturate(7476%) hue-rotate(330deg) brightness(88%) contrast(102%);
}

.item-OTHER,
.item-OTHER a {
  color: #844af0;
  background-color: white;
}
.item-OTHER span,
.item-OTHER a span {
  filter: invert(28%) sepia(39%) saturate(4938%) hue-rotate(250deg) brightness(100%) contrast(89%);
  background-image: url(../svg/claw.svg);
}
.item-OTHER:hover, .item-OTHER:hover a,
.item-OTHER a:hover,
.item-OTHER a:hover a {
  color: white;
  background-color: #844af0;
}
.item-OTHER:hover span, .item-OTHER:hover a span,
.item-OTHER a:hover span,
.item-OTHER a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-OTHER,
.sitem-OTHER a {
  color: white;
  background-color: #844af0;
}
.sitem-OTHER span,
.sitem-OTHER a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/claw.svg);
}
.sitem-OTHER:hover, .sitem-OTHER:hover a,
.sitem-OTHER a:hover,
.sitem-OTHER a:hover a {
  color: #844af0;
  background-color: white;
}
.sitem-OTHER:hover span, .sitem-OTHER:hover a span,
.sitem-OTHER a:hover span,
.sitem-OTHER a:hover a span {
  filter: invert(28%) sepia(39%) saturate(4938%) hue-rotate(250deg) brightness(100%) contrast(89%);
}

.selected-OTHER {
  border-color: #844af0;
  color: #844af0;
}
.selected-OTHER p span {
  filter: invert(28%) sepia(39%) saturate(4938%) hue-rotate(250deg) brightness(100%) contrast(89%);
  background-image: url(../svg/claw.svg);
}

.selector-OTHER,
.selector-OTHER:focus {
  outline: none;
  background-color: white;
  color: #844af0;
  border: 1px solid #844af0;
}
.selector-OTHER span,
.selector-OTHER:focus span {
  filter: invert(28%) sepia(39%) saturate(4938%) hue-rotate(250deg) brightness(100%) contrast(89%);
  background-image: url(../svg/claw.svg);
}
.selector-OTHER:hover,
.selector-OTHER:focus:hover {
  background-color: #844af0;
  color: white;
}
.selector-OTHER:hover span,
.selector-OTHER:focus:hover span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.selector-OTHER-choose,
.selector-OTHER-choose:focus {
  outline: none;
  background-color: #844af0;
  color: white;
}
.selector-OTHER-choose span,
.selector-OTHER-choose:focus span {
  background-image: url(../svg/claw.svg);
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}
.selector-OTHER-choose:hover,
.selector-OTHER-choose:focus:hover {
  background-color: white;
  color: #844af0;
  border: 1px solid #844af0;
}
.selector-OTHER-choose:hover span,
.selector-OTHER-choose:focus:hover span {
  filter: invert(28%) sepia(39%) saturate(4938%) hue-rotate(250deg) brightness(100%) contrast(89%);
}

/* Rank */
.item-E,
.item-E a {
  color: #3E4C5E;
  background-color: white;
}
.item-E:hover, .item-E:hover a,
.item-E a:hover,
.item-E a:hover a {
  color: white;
  background-color: #3E4C5E;
}

.sitem-E,
.sitem-E a {
  color: white;
  background-color: #3E4C5E;
}
.sitem-E:hover, .sitem-E:hover a,
.sitem-E a:hover,
.sitem-E a:hover a {
  color: #3E4C5E;
  background-color: #3E4C5E;
}

.selected-E {
  border-color: #3E4C5E;
  color: #3E4C5E;
}

.item-D,
.item-D a {
  color: #788AA3;
  background-color: white;
}
.item-D:hover, .item-D:hover a,
.item-D a:hover,
.item-D a:hover a {
  color: white;
  background-color: #788AA3;
}

.sitem-D,
.sitem-D a {
  color: white;
  background-color: #788AA3;
}
.sitem-D:hover, .sitem-D:hover a,
.sitem-D a:hover,
.sitem-D a:hover a {
  color: #788AA3;
  background-color: #788AA3;
}

.selected-D {
  border-color: #788AA3;
  color: #788AA3;
}

.item-C,
.item-C a {
  color: #BEB0A7;
  background-color: white;
}
.item-C:hover, .item-C:hover a,
.item-C a:hover,
.item-C a:hover a {
  color: white;
  background-color: #BEB0A7;
}

.sitem-C,
.sitem-C a {
  color: white;
  background-color: #BEB0A7;
}
.sitem-C:hover, .sitem-C:hover a,
.sitem-C a:hover,
.sitem-C a:hover a {
  color: #BEB0A7;
  background-color: #BEB0A7;
}

.selected-C {
  border-color: #BEB0A7;
  color: #BEB0A7;
}

.item-B,
.item-B a {
  color: #C6C5B9;
  background-color: white;
}
.item-B:hover, .item-B:hover a,
.item-B a:hover,
.item-B a:hover a {
  color: white;
  background-color: #C6C5B9;
}

.sitem-B,
.sitem-B a {
  color: white;
  background-color: #C6C5B9;
}
.sitem-B:hover, .sitem-B:hover a,
.sitem-B a:hover,
.sitem-B a:hover a {
  color: #C6C5B9;
  background-color: #C6C5B9;
}

.selected-B {
  border-color: #C6C5B9;
  color: #C6C5B9;
}

.item-A,
.item-A a {
  color: #E7BB41;
  background-color: white;
}
.item-A:hover, .item-A:hover a,
.item-A a:hover,
.item-A a:hover a {
  color: white;
  background-color: #E7BB41;
}

.sitem-A,
.sitem-A a {
  color: white;
  background-color: #E7BB41;
}
.sitem-A:hover, .sitem-A:hover a,
.sitem-A a:hover,
.sitem-A a:hover a {
  color: #E7BB41;
  background-color: #E7BB41;
}

.selected-A {
  border-color: #E7BB41;
  color: #E7BB41;
}

.item-S,
.item-S a {
  color: #5A2328;
  background-color: white;
}
.item-S:hover, .item-S:hover a,
.item-S a:hover,
.item-S a:hover a {
  color: white;
  background-color: #5A2328;
}

.sitem-S,
.sitem-S a {
  color: white;
  background-color: #5A2328;
}
.sitem-S:hover, .sitem-S:hover a,
.sitem-S a:hover,
.sitem-S a:hover a {
  color: #5A2328;
  background-color: #5A2328;
}

.selected-S {
  border-color: #5A2328;
  color: #5A2328;
}

/* Damage Type */
.item-ARCANE,
.item-ARCANE a {
  color: #C1839F;
  background-color: white;
}
.item-ARCANE span,
.item-ARCANE a span {
  filter: invert(57%) sepia(62%) saturate(222%) hue-rotate(281deg) brightness(91%) contrast(84%);
  background-image: url(../svg/arcane.svg);
}
.item-ARCANE:hover, .item-ARCANE:hover a,
.item-ARCANE a:hover,
.item-ARCANE a:hover a {
  color: white;
  background-color: #C1839F;
}
.item-ARCANE:hover span, .item-ARCANE:hover a span,
.item-ARCANE a:hover span,
.item-ARCANE a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-ARCANE {
  color: white;
  background-color: #C1839F;
}
.sitem-ARCANE a {
  color: white;
  background-color: #C1839F;
}
.sitem-ARCANE span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/arcane.svg);
}
.sitem-ARCANE:hover {
  color: #C1839F;
  background-color: white;
}
.sitem-ARCANE:hover a {
  color: #C1839F;
  background-color: white;
}
.sitem-ARCANE:hover span {
  filter: invert(57%) sepia(62%) saturate(222%) hue-rotate(281deg) brightness(91%) contrast(84%);
}

.selected-ARCANE {
  border-color: #C1839F;
  color: #C1839F;
}
.selected-ARCANE p span {
  filter: invert(57%) sepia(62%) saturate(222%) hue-rotate(281deg) brightness(91%) contrast(84%);
  background-image: url(../svg/arcane.svg);
}

.item-PHYSICAL,
.item-PHYSICAL a {
  color: #8C7051;
  background-color: white;
}
.item-PHYSICAL span,
.item-PHYSICAL a span {
  filter: invert(44%) sepia(51%) saturate(298%) hue-rotate(351deg) brightness(91%) contrast(88%);
  background-image: url(../svg/physical.svg);
}
.item-PHYSICAL:hover, .item-PHYSICAL:hover a,
.item-PHYSICAL a:hover,
.item-PHYSICAL a:hover a {
  color: white;
  background-color: #8C7051;
}
.item-PHYSICAL:hover span, .item-PHYSICAL:hover a span,
.item-PHYSICAL a:hover span,
.item-PHYSICAL a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-PHYSICAL {
  color: white;
  background-color: #8C7051;
}
.sitem-PHYSICAL a {
  color: white;
  background-color: #8C7051;
}
.sitem-PHYSICAL span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/physical.svg);
}
.sitem-PHYSICAL:hover {
  color: #8C7051;
  background-color: white;
}
.sitem-PHYSICAL:hover a {
  color: #8C7051;
  background-color: white;
}
.sitem-PHYSICAL:hover span {
  filter: invert(44%) sepia(51%) saturate(298%) hue-rotate(351deg) brightness(91%) contrast(88%);
}

.selected-PHYSICAL {
  border-color: #8C7051;
  color: #8C7051;
}
.selected-PHYSICAL p span {
  filter: invert(44%) sepia(51%) saturate(298%) hue-rotate(351deg) brightness(91%) contrast(88%);
  background-image: url(../svg/physical.svg);
}

.item-FIRE,
.item-FIRE a {
  color: #FF4B3E;
  background-color: white;
}
.item-FIRE span,
.item-FIRE a span {
  filter: invert(34%) sepia(89%) saturate(1147%) hue-rotate(333deg) brightness(101%) contrast(101%);
  background-image: url(../svg/fire.svg);
}
.item-FIRE:hover, .item-FIRE:hover a,
.item-FIRE a:hover,
.item-FIRE a:hover a {
  color: white;
  background-color: #FF4B3E;
}
.item-FIRE:hover span, .item-FIRE:hover a span,
.item-FIRE a:hover span,
.item-FIRE a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-FIRE {
  color: white;
  background-color: #FF4B3E;
}
.sitem-FIRE a {
  color: white;
  background-color: #FF4B3E;
}
.sitem-FIRE span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/fire.svg);
}
.sitem-FIRE:hover {
  color: #FF4B3E;
  background-color: white;
}
.sitem-FIRE:hover a {
  color: #FF4B3E;
  background-color: white;
}
.sitem-FIRE:hover span {
  filter: invert(34%) sepia(89%) saturate(1147%) hue-rotate(333deg) brightness(101%) contrast(101%);
}

.selected-FIRE {
  border-color: #FF4B3E;
  color: #FF4B3E;
}
.selected-FIRE p span {
  filter: invert(34%) sepia(89%) saturate(1147%) hue-rotate(333deg) brightness(101%) contrast(101%);
  background-image: url(../svg/fire.svg);
}

.item-WATER,
.item-WATER a {
  color: #228CDB;
  background-color: white;
}
.item-WATER span,
.item-WATER a span {
  filter: invert(51%) sepia(19%) saturate(6260%) hue-rotate(182deg) brightness(91%) contrast(88%);
  background-image: url(../svg/water.svg);
}
.item-WATER:hover, .item-WATER:hover a,
.item-WATER a:hover,
.item-WATER a:hover a {
  color: white;
  background-color: #228CDB;
}
.item-WATER:hover span, .item-WATER:hover a span,
.item-WATER a:hover span,
.item-WATER a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-WATER {
  color: white;
  background-color: #228CDB;
}
.sitem-WATER a {
  color: white;
  background-color: #228CDB;
}
.sitem-WATER span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/water.svg);
}
.sitem-WATER:hover {
  color: #228CDB;
  background-color: white;
}
.sitem-WATER:hover a {
  color: #228CDB;
  background-color: white;
}
.sitem-WATER:hover span {
  filter: invert(51%) sepia(19%) saturate(6260%) hue-rotate(182deg) brightness(91%) contrast(88%);
}

.selected-WATER {
  border-color: #228CDB;
  color: #228CDB;
}
.selected-WATER p span {
  filter: invert(51%) sepia(19%) saturate(6260%) hue-rotate(182deg) brightness(91%) contrast(88%);
  background-image: url(../svg/water.svg);
}

.item-WIND,
.item-WIND a {
  color: #99F7AB;
  background-color: white;
}
.item-WIND span,
.item-WIND a span {
  filter: invert(91%) sepia(10%) saturate(1448%) hue-rotate(68deg) brightness(96%) contrast(102%);
  background-image: url(../svg/wind.svg);
}
.item-WIND:hover, .item-WIND:hover a,
.item-WIND a:hover,
.item-WIND a:hover a {
  color: white;
  background-color: #99F7AB;
}
.item-WIND:hover span, .item-WIND:hover a span,
.item-WIND a:hover span,
.item-WIND a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-WIND {
  color: white;
  background-color: #99F7AB;
}
.sitem-WIND a {
  color: white;
  background-color: #99F7AB;
}
.sitem-WIND span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/wind.svg);
}
.sitem-WIND:hover {
  color: #99F7AB;
  background-color: white;
}
.sitem-WIND:hover a {
  color: #99F7AB;
  background-color: white;
}
.sitem-WIND:hover span {
  filter: invert(91%) sepia(10%) saturate(1448%) hue-rotate(68deg) brightness(96%) contrast(102%);
}

.selected-WIND {
  border-color: #99F7AB;
  color: #99F7AB;
}
.selected-WIND p span {
  filter: invert(91%) sepia(10%) saturate(1448%) hue-rotate(68deg) brightness(96%) contrast(102%);
  background-image: url(../svg/wind.svg);
}

.item-LIGHTNING,
.item-LIGHTNING a {
  color: #FFBF46;
  background-color: white;
}
.item-LIGHTNING span,
.item-LIGHTNING a span {
  filter: invert(95%) sepia(12%) saturate(4562%) hue-rotate(321deg) brightness(101%) contrast(104%);
  background-image: url(../svg/lightning.svg);
}
.item-LIGHTNING:hover, .item-LIGHTNING:hover a,
.item-LIGHTNING a:hover,
.item-LIGHTNING a:hover a {
  color: white;
  background-color: #FFBF46;
}
.item-LIGHTNING:hover span, .item-LIGHTNING:hover a span,
.item-LIGHTNING a:hover span,
.item-LIGHTNING a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-LIGHTNING {
  color: white;
  background-color: #FFBF46;
}
.sitem-LIGHTNING a {
  color: white;
  background-color: #FFBF46;
}
.sitem-LIGHTNING span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/lightning.svg);
}
.sitem-LIGHTNING:hover {
  color: #FFBF46;
  background-color: white;
}
.sitem-LIGHTNING:hover a {
  color: #FFBF46;
  background-color: white;
}
.sitem-LIGHTNING:hover span {
  filter: invert(95%) sepia(12%) saturate(4562%) hue-rotate(321deg) brightness(101%) contrast(104%);
}

.selected-LIGHTNING {
  border-color: #FFBF46;
  color: #FFBF46;
}
.selected-LIGHTNING p span {
  filter: invert(95%) sepia(12%) saturate(4562%) hue-rotate(321deg) brightness(101%) contrast(104%);
  background-image: url(../svg/lightning.svg);
}

.item-EARTH,
.item-EARTH a {
  color: #748E54;
  background-color: white;
}
.item-EARTH span,
.item-EARTH a span {
  filter: invert(50%) sepia(18%) saturate(859%) hue-rotate(45deg) brightness(101%) contrast(82%);
  background-image: url(../svg/earth.svg);
}
.item-EARTH:hover, .item-EARTH:hover a,
.item-EARTH a:hover,
.item-EARTH a:hover a {
  color: white;
  background-color: #748E54;
}
.item-EARTH:hover span, .item-EARTH:hover a span,
.item-EARTH a:hover span,
.item-EARTH a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-EARTH {
  color: white;
  background-color: #748E54;
}
.sitem-EARTH a {
  color: white;
  background-color: #748E54;
}
.sitem-EARTH span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/earth.svg);
}
.sitem-EARTH:hover {
  color: #748E54;
  background-color: white;
}
.sitem-EARTH:hover a {
  color: #748E54;
  background-color: white;
}
.sitem-EARTH:hover span {
  filter: invert(50%) sepia(18%) saturate(859%) hue-rotate(45deg) brightness(101%) contrast(82%);
}

.selected-EARTH {
  border-color: #748E54;
  color: #748E54;
}
.selected-EARTH p span {
  filter: invert(50%) sepia(18%) saturate(859%) hue-rotate(45deg) brightness(101%) contrast(82%);
  background-image: url(../svg/earth.svg);
}

.item-HOLY,
.item-HOLY a {
  color: #EABA6B;
  background-color: white;
}
.item-HOLY span,
.item-HOLY a span {
  filter: invert(98%) sepia(55%) saturate(6374%) hue-rotate(307deg) brightness(96%) contrast(90%);
  background-image: url(../svg/holy.svg);
}
.item-HOLY:hover, .item-HOLY:hover a,
.item-HOLY a:hover,
.item-HOLY a:hover a {
  color: white;
  background-color: #EABA6B;
}
.item-HOLY:hover span, .item-HOLY:hover a span,
.item-HOLY a:hover span,
.item-HOLY a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-HOLY {
  color: white;
  background-color: #EABA6B;
}
.sitem-HOLY a {
  color: white;
  background-color: #EABA6B;
}
.sitem-HOLY span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/holy.svg);
}
.sitem-HOLY:hover {
  color: #EABA6B;
  background-color: white;
}
.sitem-HOLY:hover a {
  color: #EABA6B;
  background-color: white;
}
.sitem-HOLY:hover span {
  filter: invert(98%) sepia(55%) saturate(6374%) hue-rotate(307deg) brightness(96%) contrast(90%);
}

.selected-HOLY {
  border-color: #EABA6B;
  color: #EABA6B;
}
.selected-HOLY p span {
  filter: invert(98%) sepia(55%) saturate(6374%) hue-rotate(307deg) brightness(96%) contrast(90%);
  background-image: url(../svg/holy.svg);
}

.item-DARK,
.item-DARK a {
  color: #8F3985;
  background-color: white;
}
.item-DARK span,
.item-DARK a span {
  filter: invert(24%) sepia(76%) saturate(1346%) hue-rotate(275deg) brightness(91%) contrast(81%);
  background-image: url(../svg/dark.svg);
}
.item-DARK:hover, .item-DARK:hover a,
.item-DARK a:hover,
.item-DARK a:hover a {
  color: white;
  background-color: #8F3985;
}
.item-DARK:hover span, .item-DARK:hover a span,
.item-DARK a:hover span,
.item-DARK a:hover a span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
}

.sitem-DARK {
  color: white;
  background-color: #8F3985;
}
.sitem-DARK a {
  color: white;
  background-color: #8F3985;
}
.sitem-DARK span {
  filter: invert(86%) sepia(99%) saturate(3%) hue-rotate(188deg) brightness(111%) contrast(97%);
  background-image: url(../svg/dark.svg);
}
.sitem-DARK:hover {
  color: #8F3985;
  background-color: white;
}
.sitem-DARK:hover a {
  color: #8F3985;
  background-color: white;
}
.sitem-DARK:hover span {
  filter: invert(24%) sepia(76%) saturate(1346%) hue-rotate(275deg) brightness(91%) contrast(81%);
}

.selected-DARK {
  border-color: #8F3985;
  color: #8F3985;
}
.selected-DARK p span {
  filter: invert(24%) sepia(76%) saturate(1346%) hue-rotate(275deg) brightness(91%) contrast(81%);
  background-image: url(../svg/dark.svg);
}
