h2 {
  text-align: center;
}

#category-selector {
  text-align: center;
}

#category-selector div button {
  border-radius: 25px;
  width: 100%;
  padding: 1% 0;
  margin: 2% 0;
}

#passive-table {
  width: 100%;
  border-bottom: 1em;
  border-collapse: separate;
  border-spacing: 0 4px;
}

.table-name {
  text-transform: uppercase;
  height: 100%;
  width: 30%;
  border-style: solid;
  border-bottom-width: 0.5px;
  border-top-width: 0.5px;
  border-left-width: 0.5px;
  border-right-width: 0;
  border-bottom-left-radius: 7px;
  position: relative;
  padding: 1.5% 1%;
  margin-bottom: 10px;
}

.table-name::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  top: 0;
  left: 0;
}

.table-name::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 2px;
  top: 0;
  left: 0;
}

.table-description {
  width: 70%;
  border-style: solid;
  border-bottom-width: 0.5px;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-width: 0;
  border-top-right-radius: 7px;
  position: relative;
  margin-bottom: 10px;
  padding-right: 0;
}

.table-description::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  bottom: 0;
  right: 0px;
}

.table-description::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  bottom: 0;
  right: 0;
}

.dbox {
  position: relative;
}

.button-change-page {
  width: 20%;
  padding: 1% 2%;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e89025;
  border: 1px solid #bf7419;
  color: white;
}

.button-change-page:hover {
  color: #e89025;
  background-color: white;
}

.button-change-page-disabled {
  background-color: #a16113;
  color: white;
  border: 1px solid #855010;
  pointer-events: none;
}

.selector-ALL {
  background-color: white;
  border: 1px solid #f28202;
  color: #f28202;
}

.selector-ALL:hover {
  background-color: #f28202;
  border: 1px solid white;
  color: white;
}

.data-ALL > .table-name {
  border-color: #f28202;
}

.data-ALL > .table-name::after {
  background-color: #f28202;
}

.data-ALL > .table-description::after {
  background-color: #f28202;
}

.data-ALL > .table-description {
  border-color: #f28202;
}

.data-ALL > .table-name::before {
  background-color: #f28202;
}

.data-ALL > .table-description::before {
  background-color: #f28202;
}

.selector-ALL-choose {
  background-color: #f28202;
  border: 1px solid white;
  color: white;
}

.selector-ALL-choose:hover {
  background-color: white;
  border: 1px solid #f28202;
  color: #f28202;
}

.selector-WEAPON {
  background-color: white;
  border: 1px solid #e03024;
  color: #e03024;
}

.selector-WEAPON:hover {
  background-color: #e03024;
  border: 1px solid white;
  color: white;
}

.data-WEAPON > .table-name {
  border-color: #e03024;
}

.data-WEAPON > .table-name::after {
  background-color: #e03024;
}

.data-WEAPON > .table-description::after {
  background-color: #e03024;
}

.data-WEAPON > .table-description {
  border-color: #e03024;
}

.data-WEAPON > .table-name::before {
  background-color: #e03024;
}

.data-WEAPON > .table-description::before {
  background-color: #e03024;
}

.selector-WEAPON-choose {
  background-color: #e03024;
  border: 1px solid white;
  color: white;
}

.selector-WEAPON-choose:hover {
  background-color: white;
  border: 1px solid #e03024;
  color: #e03024;
}

.selector-ARMOR {
  background-color: white;
  border: 1px solid #8505ed;
  color: #8505ed;
}

.selector-ARMOR:hover {
  background-color: #8505ed;
  border: 1px solid white;
  color: white;
}

.data-ARMOR > .table-name {
  border-color: #8505ed;
}

.data-ARMOR > .table-name::after {
  background-color: #8505ed;
}

.data-ARMOR > .table-description::after {
  background-color: #8505ed;
}

.data-ARMOR > .table-description {
  border-color: #8505ed;
}

.data-ARMOR > .table-name::before {
  background-color: #8505ed;
}

.data-ARMOR > .table-description::before {
  background-color: #8505ed;
}

.selector-ARMOR-choose {
  background-color: #8505ed;
  border: 1px solid white;
  color: white;
}

.selector-ARMOR-choose:hover {
  background-color: white;
  border: 1px solid #8505ed;
  color: #8505ed;
}

.selector-CLASS {
  background-color: white;
  border: 1px solid #026fe3;
  color: #026fe3;
}

.selector-CLASS:hover {
  background-color: #026fe3;
  border: 1px solid white;
  color: white;
}

.data-CLASS > .table-name {
  border-color: #026fe3;
}

.data-CLASS > .table-name::after {
  background-color: #026fe3;
}

.data-CLASS > .table-description::after {
  background-color: #026fe3;
}

.data-CLASS > .table-description {
  border-color: #026fe3;
}

.data-CLASS > .table-name::before {
  background-color: #026fe3;
}

.data-CLASS > .table-description::before {
  background-color: #026fe3;
}

.selector-CLASS-choose {
  background-color: #026fe3;
  border: 1px solid white;
  color: white;
}

.selector-CLASS-choose:hover {
  background-color: white;
  border: 1px solid #026fe3;
  color: #026fe3;
}

.selector-SKILL {
  background-color: white;
  border: 1px solid #34d108;
  color: #34d108;
}

.selector-SKILL:hover {
  background-color: #34d108;
  border: 1px solid white;
  color: white;
}

.data-SKILL > .table-name {
  border-color: #34d108;
}

.data-SKILL > .table-name::after {
  background-color: #34d108;
}

.data-SKILL > .table-description::after {
  background-color: #34d108;
}

.data-SKILL > .table-description {
  border-color: #34d108;
}

.data-SKILL > .table-name::before {
  background-color: #34d108;
}

.data-SKILL > .table-description::before {
  background-color: #34d108;
}

.selector-SKILL-choose {
  background-color: #34d108;
  border: 1px solid white;
  color: white;
}

.selector-SKILL-choose:hover {
  background-color: white;
  border: 1px solid #34d108;
  color: #34d108;
}

.selector-OTHER {
  background-color: white;
  border: 1px solid #e60082;
  color: #e60082;
}

.selector-OTHER:hover {
  background-color: #e60082;
  border: 1px solid white;
  color: white;
}

.data-OTHER > .table-name {
  border-color: #e60082;
}

.data-OTHER > .table-name::after {
  background-color: #e60082;
}

.data-OTHER > .table-description::after {
  background-color: #e60082;
}

.data-OTHER > .table-description {
  border-color: #e60082;
}

.data-OTHER > .table-name::before {
  background-color: #e60082;
}

.data-OTHER > .table-description::before {
  background-color: #e60082;
}

.selector-OTHER-choose {
  background-color: #e60082;
  border: 1px solid white;
  color: white;
}

.selector-OTHER-choose:hover {
  background-color: white;
  border: 1px solid #e60082;
  color: #e60082;
}
