@import 'constant.scss';
@import 'EnumerableStyle.css';

*, *:focus, *:hover {
    outline: none;
    outline-color: white;
}
h2 {
    text-align: center;
}

#weapon-selector {
    text-align: center;
}
#weapon-selector div button,
#weapon-selector div button:focus {
    outline: none;
    border-radius: 25px;
    width: 100%;
    padding: 1% 0;
    margin: 2% 0;
}
