$image-size-max: 1200px;
$button-color1: #e89025;
$button-color2: #bf7419;

$cancel-color1: #c20f02;
$cancel-color2: #910b01;

$submit-color1: #e89025;
$submit-color2: #bf7419;



#button-add {
    width: 100%;
    height: 30px;
    padding: .5% 1%;
    color: white;
    background-color: #e89025;
    border-radius: 25px;
    border-color: #bf7419;
    border-width: 1px;
    border-style: solid;
}
#button-add:hover {
    background-color: white;
    color: #e89025;
}

#weapon-add {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.form-group{
    display: flex;
}
.form-control,
.form-control:disabled{
    background-color: white;
}
.form-label{
    margin-top:auto;
    margin-bottom:auto;
    width:15%;
}
.form-button,
.form-button:focus{
    margin-top:auto;
    margin-bottom:auto;
    width:5%;
    border-radius:50%;
    background-color: $button-color1;
    color: white;
    border: 1px solid $button-color2;
    transition: .25s ease-in-out;
    outline: none;
}
.form-button:hover,
.form-button:focus:hover{
    color: $button-color1;
    background-color: white;
}

.WeaponTypes, .DamageTypes, .Ranks, .Passives{
    margin-left: 13%;
}

.btn-submit,
.btn-submit:focus {
    margin: auto auto 5% auto;
    width: 35%;
    border-radius: 25px;
    background-color: $submit-color1;
    border: 1px solid $submit-color2;
    color: white;
    transition: .25s ease-in-out;
    outline: none;
}
.btn-submit:hover,
.btn-submit:hover:focus{
    color: $submit-color1;
    background-color: white;
}

.btn-cancel,
.btn-cancel:focus {
    margin: auto auto auto 5%;
    width: 35%;
    border-radius: 25px;
    background-color: $cancel-color1;
    border: 1px solid $cancel-color2;
    color: white;
    transition: .25s ease-in-out;
    outline: none;
}
.btn-cancel:hover,
.btn-cancel:hover:focus{
    color: $cancel-color1;
    background-color: white;
}

@media (max-width: $image-size-max){
    .form-label{
        width:30%;
    }

    #weapon-add{
        width:100%;
    }

    .form-button{
        width:8%;
    }
}