@import 'constant.scss';
@import 'DropDownList.scss';

#button-add {
    width: 100%;
    height: 35px;
    padding: .5% 1%;
    color: white;
    background-color: $site-color;
    border-radius: 25px;
    border: $site-border;
    transition: .25s ease-in-out;
}
#button-add:hover {
    background-color: $site-background-color;
    color: $site-color;
}

#weapon-add {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

.form-group{
    display: flex;
}
.form-control,
.form-control:disabled{
    background-color: white;
}
.form-label{
    margin-top:auto;
    margin-bottom:auto;
    width:15%;
}
.form-button,
.form-button:focus{
    margin-top:auto;
    margin-bottom:auto;
    width:5%;
    border-radius:50%;
    background-color: $site-color;
    color: white;
    border: $site-border;
    transition: .25s ease-in-out;
    outline: none;
}
.form-button:hover,
.form-button:focus:hover{
    color: $site-color;
    background-color: $site-background-color;
}

.WeaponTypes, .DamageTypes, .Ranks, .Passives{
    margin-left: 13%;
}

.btn-submit,
.btn-submit:focus {
    margin: auto auto 5% auto;
    width: 35%;
    border-radius: 25px;
    background-color: $site-color;
    border: $site-border;
    color: white;
    transition: .25s ease-in-out;
    outline: none;
}
.btn-submit:hover,
.btn-submit:hover:focus{
    color: $site-color;
    background-color: $site-background-color;
}

.btn-cancel,
.btn-cancel:focus {
    margin: auto auto auto 5%;
    width: 35%;
    border-radius: 25px;
    background-color: $cancel-color;
    border: $cancel-border;
    color: white;
    transition: .25s ease-in-out;
    outline: none;
}
.btn-cancel:hover,
.btn-cancel:hover:focus{
    color: $cancel-color;
    background-color: $cancel-background-color;
}

@media (max-width: 1200px){
    .form-label{
        width:30%;
    }

    #weapon-add{
        width:100%;
    }

    .form-button{
        width:8%;
    }
}