#button-add {
    width: 100%;
    height: 30px;
    padding: .5% 1%;
    color: white;
    background-color: #e89025;
    border-radius: 25px;
    border-color: #bf7419;
    border-width: 1px;
    border-style: solid;
}
#button-add:hover {
    background-color: white;
    color: #e89025;
}
