@import 'constant.scss';

*, *:focus, *:hover {
    outline: none;
    outline-color: white;
}
h2 {
    text-align: center;
}

#weapon-selector {
    text-align: center;
}
#weapon-selector div button,
#weapon-selector div button:focus {
    outline: none;
    border-radius: 25px;
    width: 100%;
    padding: 1% 0;
    margin: 2% 0;
    border-width: 1px;
}
#weapon-selector div button:hover span {
    filter: $white-filter;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 18px;
    background-size: cover;
}
.icon-sword {
    background-image: $sword-link;
    filter: $sword-filter;
}
.icon-spear {
    background-image: $spear-link;
    filter: $spear-filter;
}
.icon-axe {
    background-image: $axe-link;
    filter: $axe-filter;
}
.icon-fist {
    background-image: $fist-link;
    filter: $fist-filter;
}
.icon-dagger{
    background-image: $dagger-link;
    filter: $dagger-filter;
}
.icon-staff {
    background-image: $staff-link;
    filter: $staff-filter;
}
.icon-bow {
    background-image: $bow-link;
    filter: $bow-filter;
}


@each $weaponColor, $i in $weaponColors {
    .selector-#{$weaponColor},
    .selector-#{$weaponColor}:focus {
        outline: none;
        background-color: white;
        color: $i;
        border: 1px solid $i;
    }

    .selector-#{$weaponColor}:hover {
        background-color: $i;
        color: white;
    }

    .selector-#{$weaponColor}-choose,
    .selector-#{$weaponColor}-choose:focus {
        outline: none;
        background-color: $i;
        color: white;
    }

    .selector-#{$weaponColor}-choose:hover {
        background-color: white;
        color: $i;
        border: 1px solid $i;
    }
}
